*.pyc
__pycache__/
db.sqlite3
.venv/
venv/
*.log
*.env
.env
import_daily_nav_master.py
# 忽略 Alphadata 目录下的所有 .xlsx 文件
/Alphadata/
/downloaded_attachments_zxdw_nav/
/downloaded_attachments_cjqh/
/downloaded_attachments_htqh/
/downloaded_attachments_ghzq/
/downloaded_attachments_wkqh/
/downloaded_attachments_ghqh/
/downloaded_attachments_stz053/
/downloaded_attachments_boshiyihao/
/downloaded_attachments_ctayh/
/downloaded_attachments_dyctayh_nav/
/downloaded_attachments_jlh/
/qichat/
/downloaded_attachments_lhjxyh/
/downloaded_attachments_sasq16/
/cumulative_nav/
/reports/

